<div *ngFor="let post of allPosts">
    <div id="post-{{post.id}}" class="post">
        <h2 class="posttitle"><a [routerLink]="['/post', post.id]" rel="bookmark">{{ post.title }}</a></h2>
        <div class="postcontent entry-content">
            <div class="wp-caption alignnone">
                <a [routerLink]="['/post', post.id]">
                    <img class="wp-image-59" alt="pic_description" src="{{ post.picture }}" style="width: auto; height: 250px;">
                </a>
                <p class="wp-caption-text">{{ post.title }}</p>
            </div>
            <p [innerHTML]="post.text | truncate : 300"></p>
        </div>
    </div>
    <div class="postmeta">
        <p>
            <i class="fa fa-calendar"></i>
            <a [routerLink]="['/post', post.id]" rel="bookmark">{{ post.published_date|date:"dd/MM/yyyy H:m:s a"}}</a><i class="fa fa-comment"></i>
            <a [routerLink]="['/post', post.id+'#comments']" >{{post.totalComments}} Comments</a>
            <i class="fa fa-folder-open"></i>
                <a *ngFor="let cat of post.category" [routerLink]="['/category', cat.id]" rel="category">{{cat.name}}. </a>
            <i class="fa fa-user"></i>
            <a [routerLink]="['/post/author/', post.author.id]" rel="category">{{post.author.name}}</a>
            <a href="#post-{{post.id}}" class="posttype">
                <i class="fa format-standard"></i>
            </a>
        </p>
    </div>

    
</div>
<div *ngIf="paginator.has_other_pages">
    <div class="pagination">
        <div class="step-links">
            <span class="current">
                Page {{ paginator.number }} of {{ paginator.num_pages }}.
            </span>
        </div>
        <div style="float: right;display: flex;">
            <div *ngIf="paginator.has_previous">
                <a [routerLink]="['/page',paginator.previous_page_number]" >Previous</a>
            </div>
            <div *ngIf="!paginator.has_previous">
                <a class="disabled" href="">Previous</a>
            </div>
            <!-- paginator.page_range -->
            <div *ngFor="let i of arrNumber">
                <div *ngIf="paginator.number == i">
                    <a [routerLink]="['/page',i]" class="active">{{i}}</a>
                </div>
                <div *ngIf="paginator.number != i">
                    <a [routerLink]="['/page',i]" >{{i}}</a>
                </div>
            </div>
            <div *ngIf="paginator.has_next">
                <a [routerLink]="['/page',paginator.next_page_number]">Next</a>
            </div>
             <div *ngIf="!paginator.has_next">
                <a class="disabled" href="">Next</a>
            </div>
        </div>
    </div>
</div>