#content {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    background-color: yellow;
    margin: 0px auto;
    text-align: center;
}

#header {
    width: 800px;
    height: 100px;
    border: 1px solid black;
    background-color: green;
    margin: 0px auto;
    text-align: center;
}

#footer {
    width: 800px;
    height: 100px;
    border: 1px solid black;
    background-color: blue;
    margin: 0px auto;
    text-align: center;
}