<div class="post">
        <div *ngIf="post.published_date" class="date">
            {{ post.published_date | date:"dd/MM/yyyy H:m:s a" }}
        </div>
        <a *ngIf="!post.published_date" class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    <!-- {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" style="float: right;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" style="float: right; margin-right: 10px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    {% endif %} -->
    <h1>{{ post.title }}</h1>
    <p [innerHTML]="post.text"></p>
    <p style="float: right;">By {{ post.author?.name }}</p>
    <div style="clear: both;"></div>

    <hr>
    
    <div id="comments" class="comments-area">
        <h2 class="comments-title">{{ post.totalComments }} thoughts on “<span>{{ post.title }}</span>”</h2>
        <ol class="comment-list">
            <!-- {% for comment in post.comments.all %} -->
            <!-- {% if user.is_authenticated or comment.approved_comment %} -->
            <li *ngFor="let comment of post.comment" id="comment-{{comment.id}}" class="comment even thread-even depth-1">
                <article id="div-comment-1" class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <img alt="" src="https://secure.gravatar.com/avatar/?s=32&amp;d=identicon&amp;r=pg" srcset="https://secure.gravatar.com/avatar/?s=64&amp;d=identicon&amp;r=pg 2x" class="avatar avatar-32 photo avatar-default" height="32" width="32">
                            <cite class="fn"><a href="#" rel="external nofollow" class="url">{{ comment.author }}</a></cite> <span class="says">says:</span>
                        </div>
                        <!-- .comment-author -->
                        <div class="comment-metadata">
                            <a href="#comment-{{comment.id}}">
                                <time>
                                    {{ comment.created_date | date:"dd/MM/yyyy H:m:s a" }}
                                </time>
                            </a>
                        </div>
                        <!-- .comment-metadata -->
                        <!-- {%if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if not comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><i class="fa fa-check" aria-hidden="true"></i></a>
                        {% endif %} -->
                    </footer>
                    <!-- .comment-meta -->
                    <div class="comment-content">
                        <p [innerHTML]="comment.text"></p>
                        <p class="fa fa-thumbs-o-up action1 ng-binding">
                            <a href="{% url 'comment_like' pk=comment.pk %}">{{ comment.like }} Like</a>
                        </p>
                    </div>

                    <!-- .comment-content -->
                </article>
                <!-- .comment-body -->
            </li>
            <!-- {% endif %} -->
            <!-- {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %} -->
        <!-- #comment-## -->
        </ol>
        <!-- .comment-list -->
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/?p=1#respond" style="display:none;">Cancel reply</a></small></h3>
            <form method="POST" class="post-form" id="commentform" class="comment-form">
                <!-- {% csrf_token %}
                {{ form.as_p }} -->
                <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                    <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">
                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                </p>
            </form>
        </div>
        <!-- #respond -->
    </div>

</div>