<body class="home blog">
    <div id="container">
        <div id="sidebar">
            <h2 class="sitetitle"><a href="/" title="NT Dev Blogs" rel="home">NT Dev Blogs</a></h2>
            <p><span class="tagline">Le Vu Nhat Truong's Blog</span></p>
            <div class="sidebarwidget">
                <h3 class="sidebartitle">Menu</h3>
                <div class="menu">
                    <ul>
                        <li class="current_page_item">
                            <a href="/">Home</a>
                        </li>
                        <li class="page_item page-item-2">
                            <a routerLink="/about" routerLinkActive="active">About</a>
                        </li>
                        <li class="page_item page-item-2">
                            <a routerLink="/contact" routerLinkActive="active">Contact</a>
                        </li>
                        
                        <li class="page_item"><a routerLink="/accounts/login/">Login</a>
                        </li>
                        
                    </ul>
                </div>

            </div>

            <div class="sidebarwidget">
                <form method="get" class="search-form" action="/search">
                    <p>
                        <input type="text" placeholder="Name Post" class="search-field" value="" name="s">
                    </p>
                    <p>
                        <input type="submit" class="search-submit" value="Search Post">
                    </p>
                </form>
            </div>

            <div class="sidebarwidget">
                <h3 class="sidebartitle">Recent Posts</h3>
                <ul>
                            <li *ngFor="let post of allPosts">
                                <a [routerLink]="['/post', post.id]">{{post.title}}</a>
                            </li>
                </ul>
            </div>

            <div class="sidebarwidget">
                <h3 class="sidebartitle">Recent Comments</h3>
                <ul id="recentcomments">
                    
                    <li *ngFor="let comment of recentComments" class="recentcomments">
                        <span class="comment-author-link">
                            <a [routerLink]="['/post', comment.post_id, '#comment-'+comment.id]" rel="external nofollow" class="url">
                                {{comment.author}}
                            </a>
                        </span> on 
                            <a [routerLink]="['/post', comment.post_id, '#comment-'+comment.id]">
                                {{comment.post}}
                            </a>
                    </li>
                    
                </ul>
            </div>

            <div class="sidebarwidget">
                <h3 class="sidebartitle">Categories</h3>
                <ul>
                
                    <li *ngFor="let category of categories" class="cat-item cat-item-6">
                        <a *ngIf="category.enable" [routerLink]="['/category', category.id]">{{category.name}}</a>
                    </li>
                    
                </ul>
            </div>

        </div>
        <!-- End Sidebar -->
        <!-- Begin Main -->
        <div id="main">
            
            <router-outlet></router-outlet>

            <div id="footer"><br>
                
                <a href="https://www.djangoproject.com/" rel="generator">Proudly powered by Django</a> Theme: Blogly by <a href="http://themefurnace.com/" rel="designer">ThemeFurnace</a>.
            </div>
            <!-- End Footer -->
        </div>
        <!-- End Main -->
    </div>
    <!-- End Container -->
</body>

