body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.theme-showcase .navbar .container {
  width: auto;
}
.navbar-header .navbar-brand {text-transform: uppercase;}
.table a.table-link {
	font-size: 1.125em;
	color: #03a9f4;
	text-decoration: none;
}
.table a.table-link:hover {
	color: #2980b9;
}
.table a.table-link.danger {
	color: #e84e40;
}
.table .img-thumbnail {
	max-height: 200px;
}

#myTable{
	border: 1px solid;
    width: 100%;
}

#myTable th {
	border: 1px solid black;
	padding: 8px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

#myTable tbody tr{
	border: 1px solid black;
}


#myTable tbody td{
	border: 1px solid black;
	padding: 8px;
}

.pagination {
    display: inline-block;
    float: right;
    padding: 7px 0px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.odd {
	background-color: #76ffeb;
}

.disabled {
	pointer-events: none;
	cursor: default;
}

.dataTables_info{
	float: left;
	line-height: 50px;
}