.clear {
    clear: both;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    float: left;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}


.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger {
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075)
}

.btn-default:active,.btn-primary:active,.btn-success:active,.btn-info:active,.btn-warning:active,.btn-danger:active,.btn-default.active,.btn-primary.active,.btn-success.active,.btn-info.active,.btn-warning.active,.btn-danger.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn:active,.btn.active {
    background-image: none
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc
}

.btn-default:hover,.btn-default:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px
}

.btn-default:active,.btn-default.active {
    background-color: #e0e0e0;
    border-color: #dbdbdb
}

.btn-default:disabled,.btn-default[disabled] {
    background-color: #e0e0e0;
    background-image: none
}

.btn-primary {
    background-image: -webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%);
    background-image: -o-linear-gradient(top,#428bca 0,#2d6ca2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#428bca),to(#2d6ca2));
    background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #2b669a
}

.btn-primary:hover,.btn-primary:focus {
    background-color: #2d6ca2;
    background-position: 0 -15px
}

.btn-primary:active,.btn-primary.active {
    background-color: #2d6ca2;
    border-color: #2b669a
}

.btn-primary:disabled,.btn-primary[disabled] {
    background-color: #2d6ca2;
    background-image: none
}

.btn-success {
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #3e8f3e
}

.btn-success:hover,.btn-success:focus {
    background-color: #419641;
    background-position: 0 -15px
}

.btn-success:active,.btn-success.active {
    background-color: #419641;
    border-color: #3e8f3e
}

.btn-success:disabled,.btn-success[disabled] {
    background-color: #419641;
    background-image: none
}

.btn-info {
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #28a4c9
}

.btn-info:hover,.btn-info:focus {
    background-color: #2aabd2;
    background-position: 0 -15px
}

.btn-info:active,.btn-info.active {
    background-color: #2aabd2;
    border-color: #28a4c9
}

.btn-info:disabled,.btn-info[disabled] {
    background-color: #2aabd2;
    background-image: none
}

.btn-warning {
    background-image: -webkit-linear-gradient(top,#f0ad4e 0,#eb9316 100%);
    background-image: -o-linear-gradient(top,#f0ad4e 0,#eb9316 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f0ad4e),to(#eb9316));
    background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #e38d13
}

.btn-warning:hover,.btn-warning:focus {
    background-color: #eb9316;
    background-position: 0 -15px
}

.btn-warning:active,.btn-warning.active {
    background-color: #eb9316;
    border-color: #e38d13
}

.btn-warning:disabled,.btn-warning[disabled] {
    background-color: #eb9316;
    background-image: none
}

.btn-danger {
    background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
    background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #b92c28
}

.btn-danger:hover,.btn-danger:focus {
    background-color: #c12e2a;
    background-position: 0 -15px
}

.btn-danger:active,.btn-danger.active {
    background-color: #c12e2a;
    border-color: #b92c28
}

.btn-danger:disabled,.btn-danger[disabled] {
    background-color: #c12e2a;
    background-image: none
}