<form action="" method="post">
    {% csrf_token %}
    {# <table> #}
        {# {{ form.as_table }} #}
    {# </table> #}
    <table>
        <tr>
            <th>
                <label for="{{ form.username.id_for_label }}">User:</label>
            </th>
            <td>
                {{ form.username }}
            <td>
        </tr>
        <tr>
            <th>
                <label for="{{ form.password.id_for_label }}">Password:</label>
            </th>
           <td>
                {{ form.password }}
           </td>
        </tr>
        <tr>
            <th>
                <label for="{{ form.email.id_for_label }}">Email:</label>
            </th>
            <td>
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
    {# <input type="submit" value="Submit" /> #}
</form>