<div class="post">
    <form action="/accounts/login/" method="post">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="id_username">
                            Username:
                        </label>
                    </td>
                    <td>
                        <input autofocus="" id="id_username" maxlength="254" name="username" required="" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_password">
                            Password:
                        </label>
                    </td>
                    <td>
                        <input id="id_password" name="password" required="" type="password"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="login">
                <input name="next" type="hidden" value="/">
                <!-- </input> -->
<!--         </input> -->
    </form>
</div>