{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body {
            background-color: #FF706C
        }
        
        a {
            color: #FF706C
        }
        
        .postmeta i {
            color: #FF706C
        }
        
        .sidebarwidget li a:hover,
        .tagcloud a {
            background-color: #FF706C
        }
    </style>
    <title>NT Dev Blogs</title>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/wp-themes.com\/wp\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.4-alpha-40338"
            }
        };
        ! function(a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText) return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case "flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
                    case "emoji4":
                        return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var f, g, h, i, j = b.createElement("canvas"),
                k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
                c.DOMReady = !0
            }, c.supports.everything || (g = function() {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function() {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <script src="{% static 'base_file/wp-emoji-release.min.js' %}" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="themefurnace-style-css" href="{% static 'base_file/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'reactFacebook.css' %}" type="text/css" media="all">

    <link rel="stylesheet" href="{% static 'base_file/css/blog.css' %}">
    <script type="text/javascript" src="{% static 'base_file/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'base_file/jquery-migrate.min.js' %}"></script>
    <meta name="generator" content="WordPress 4.7.4-alpha-40338">
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>

<body class="home blog">
    <div id="container">
        <div id="sidebar">
            <h2 class="sitetitle"><a href="/" title="NT Dev Blogs" rel="home">NT Dev Blogs</a></h2>
            <p><span class="tagline">Le Vu Nhat Truong's Blog</span></p>
            <div class="sidebarwidget">
                <h3 class="sidebartitle">Menu</h3>
                <div class="menu">
                    <ul>
                        <li class="current_page_item">
                            <a href="/">Home</a>
                        </li>
                        <li class="page_item page-item-2">
                            <a href="/about">About</a>
                        </li>
                        <li class="page_item page-item-2">
                            <a href="/contact">Contact</a>
                        </li>
                        {% if user.is_anonymous %}
                        <li class="page_item"><a href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                {% if user.is_authenticated %}
                <h3 class="sidebartitle">Hello {{ user.username }}</h3>
                <div class="menu">
                    <ul>
                        <li class="page_item"><a href="{% url 'category_new' %}">New Category</a>
                        </li>
                        <li class="page_item"><a href="{% url 'category_all' %}">Edit Category</a>
                        </li>
                        <li class="page_item"><a href="{% url 'post_new' %}">New Post</a>
                        </li>
                        <li class="page_item"><a href="{% url 'post_draft_list' %}">Publish Post</a>
                        </li>
                        <li class="page_item"><a href="{% url 'logout' %}">Log out</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>

            <div class="sidebarwidget">
                <form method="get" class="search-form" action="/search">
                    <p>
                        <input type="text" placeholder="Name Post" class="search-field" value="" name="s">
                    </p>
                    <p>
                        <input type="submit" class="search-submit" value="Search Post">
                    </p>
                </form>
            </div>

            <div class="sidebarwidget">
                <h3 class="sidebartitle">Recent Posts</h3>
                <ul>
                    {% block recentPosts %}
                        {% for post in posts %}
                            <li>
                                <a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
                            </li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            </div>

            <div class="sidebarwidget">
                <h3 class="sidebartitle">Recent Comments</h3>
                <ul id="recentcomments">
                    {% for comment in comments %}
                    <li class="recentcomments">
                        <span class="comment-author-link">
                            <a href="/post/{{comment.post_id}}/#comment-{{comment.id}}" rel="external nofollow" class="url">
                                {{comment.author}}
                            </a>
                        </span> on 
                            <a href="/post/{{comment.post_id}}/#comment-{{comment.id}}">
                                {{comment.post}}
                            </a>
                    </li>
                    {%endfor%}
                </ul>
            </div>

            <div class="sidebarwidget">
                <h3 class="sidebartitle">Categories</h3>
                <ul>
                    {% for category in categories %}
                    <li class="cat-item cat-item-6"><a href="{% url 'post_list_by_category' pk=category.pk %}">{{category}}</a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <!-- End Sidebar -->

        <div id="main">

            {% block content %}
            {% endblock %}

            <div id="footer"> 
                <br>
                <a href="https://www.djangoproject.com/" rel="generator">Proudly powered by Django</a> Theme: Blogly by <a href="http://themefurnace.com/" rel="designer">ThemeFurnace</a>.
                <p></p>
            </div>

        </div>

        <!-- End Main -->

            <!-- End Footer -->
    </div>
    <!-- End Container -->
    <script type="text/javascript" src="{% static 'base_file/skip-link-focus-fix.js' %}"></script>
    <script type="text/javascript" src="{% static 'base_file/wp-embed.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    {% csrf_token %}
    <script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
</body>

</html>