{% extends 'blog/base.html' %}

{% block content %}
    <div id="" class="post">
        <h1>Edit category</h1>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Submit">
            <input class="button" type="reset" value="Clear">
        </form>
    </div>
{% endblock %}