{% extends 'blog/base.html' %}

{% block content %}
    {% for category in categories %}
        <div class="post">
            <h1 style="display: inline-block;"><a href="">{{ category.name }}</a></h1>
            <a class="btn btn-default" href="{% url 'category_remove' pk=category.pk %}" style="float: right;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="{% url 'category_edit' pk=category.pk %}" style="float: right; margin-right: 10px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            {% if category.enable_category %}
                <a class="btn btn-default" href="{% url 'category_unpublish' pk=category.pk %}" style="float: right; margin-right: 10px;">UnPublish</a>
            {% else %}
                <a class="btn btn-default" href="{% url 'category_publish' pk=category.pk %}" style="float: right; margin-right: 10px;">Publish</a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}