    {% for post in posts %}
        <div id="post-{{post.id}}" class="post">
            <h2 class="posttitle"><a href="{% url 'post_detail' pk=post.pk %}" rel="bookmark">{{ post.title }}</a></h2>
            <div class="postcontent entry-content">
                <div class="wp-caption alignnone">
                    <a href="{% url 'post_detail' pk=post.pk %}">
                        <img class="wp-image-59" alt="pic_description" src="{{ post.picture|safe }}" style="width: auto; height: 250px;">
                    </a>
                    <p class="wp-caption-text">{{ post.title }}</p>
                </div>
                <p>{{ post.text|safe|linebreaksbr|truncatewords:"15" }}</p>
            </div>
        </div>
        <div class="postmeta">
            <p><i class="fa fa-calendar"></i><a href="post-{{post.id}}" rel="bookmark">{{ post.published_date }}</a> <i class="fa fa-comment"></i>
                <a href="#?p=8#comments"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.approved_comments.count }} Comments</a></a><i class="fa fa-folder-open"></i>
                {% for cat in post.category.all %}
                    <a href="{% url 'post_list_by_category' pk=cat.pk %}" rel="category">{{cat}}. </a>
                {% endfor %}
                <i class="fa fa-user"></i>
                <a href="{% url 'post_list_by_author' pk=post.author_id %}" rel="category">{{post.author}}</a>
                <a href="#post-{{post.id}}" class="posttype">
                    <i class="fa format-standard"></i>
                </a>
            </p>
        </div>
    {% endfor %}