{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    {% for post in posts %}
        <div id="post-{{post.id}}" class="post">
            <h2 class="posttitle"><a href="{% url 'post_detail' pk=post.pk %}" rel="bookmark">{{ post.title }}</a></h2>
            <div class="postcontent entry-content">
                <div class="wp-caption alignnone">
                    <a href="{% url 'post_detail' pk=post.pk %}">
                        <img class="wp-image-59" alt="pic_description" src="{{ post.picture|safe }}" style="width: auto; height: 250px;">
                    </a>
                    <p class="wp-caption-text">{{ post.title }}</p>
                </div>
                <p>{{ post.text|safe|linebreaksbr|truncatewords:"15" }}</p>
            </div>
        </div>
        <div class="postmeta">
            <p><i class="fa fa-calendar"></i><a href="post-{{post.id}}" rel="bookmark">{{ post.published_date }}</a> <i class="fa fa-comment"></i>
                <a href="#?p=8#comments"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.approved_comments.count }} Comments</a></a><i class="fa fa-folder-open"></i>
                {% for cat in post.category.all %}
                    <a href="{% url 'post_list_by_category' pk=cat.pk %}" rel="category">{{cat}}. </a>
                {% endfor %}
                <i class="fa fa-user"></i>
                <a href="{% url 'post_list_by_author' pk=post.author_id %}" rel="category">{{post.author}}</a>
                <a href="#post-{{post.id}}" class="posttype">
                    <i class="fa format-standard"></i>
                </a>
            </p>
        </div>
    {% endfor %}

 <!--   
    {% if posts.has_other_pages %}
        <div class="pagination">
            <div class="step-links">
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
            </div>
            <div style="float: right;">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">Previous</a>
            {% else %}
                <a class="disabled" href="">Previous</a>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <a href="?page={{i}}" class="active">{{i}}</a>
                {% else %}
                <a href="?page={{i}}">{{i}}</a>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Next</a>
            {% else %}
                <a class="disabled" href="">Next</a>
            {% endif %}
            </div>
        </div>
    {% endif %}
-->

    <script type="text/javascript">
      
    var totalPage = {{ posts.paginator.num_pages }};
    var currentPage = {{ posts.number }};
    var stringImg = '<div id="#loading" class="postmeta" ><img src="/static/loading.gif"></div>';

        $(window).scroll(function() {
            if($(window).scrollTop() == $(document).height() - $(window).height()) {
               if (currentPage < totalPage){
                 console.log(currentPage +"==>"+totalPage);
                 var page = ++currentPage;
                 $('#main').append(stringImg);
                 $.ajax({
                   url: 'page/'+page,
                   dataType: 'json',
                 }).done(function(data) {
                    
                    var post = data.data;
                    var footer = $('#footer')[0].outerHTML;
                    $('#footer').remove();
                    var result ='';
                    for (var i=0;i<post.length;++i)
                    {
                     result += '<div id="post/'
                     +post[i].id+'" class="post"><h2 class="posttitle"><a href="/post/'+post[i].id
                     +'/" rel="bookmark">'+post[i].title
                     +'</a></h2><div class="postcontent entry-content"><div class="wp-caption alignnone"><a href="/post/'+post[i].id
                     +'/"><img class="wp-image-59" alt="pic_description" src="'+post[i].picture
                     +'" style="width: auto; height: 250px;"></a><p class="wp-caption-text">'
                     +post[i].title+'</p></div><p>'+post[i].text+'</p></div></div><div class="postmeta"><p><i class="fa fa-calendar"></i><a href="post-'+post[i].id+'" rel="bookmark">'
                     +post[i].published_date+'</a><i class="fa fa-comment"></i><a href="#?p=8#comments"><a href="/post/'+post[i].id+'/">'+post[i].totalComments+' Comments</a></a><i class="fa fa-folder-open"></i>'
                     var category = post[i].category;
                      for (var j = 0; j<category.length;++j) {
                        result += '<a href="category/'+category[j].id+'" rel="category">'+category[j].name+'.</a>';
                      }
                     result += '<i class="fa fa-user"></i>'
                     result += '<a href="/post/author/'+post[i].author.id+'" rel="category">'+post[i].author.name+'</a>'
                     result += '<a class="posttype" href="#post/'+post[i].id+'"><i class="fa format-standard"></i></a></div>'
                   }
                    $('#main').children().last().remove();
                    $('#main').append(result+footer);

                 });
               }
            }
        });
    </script>

{% endblock %}