{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" style="float: right;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" style="float: right; margin-right: 10px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
            <p style="float: right;">By {{ post.author}}</p>
            <div style="clear: both;"></div>
        </div>
        <hr>
    {% empty %}
        <div class="post">
            <p>No Post here yet :(</p>
        </div>
    {% endfor %}
{% endblock %}