{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" style="float: right;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" style="float: right; margin-right: 10px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|safe|linebreaksbr }}</p>
        <p style="float: right;">By {{ post.author}}</p>
        <div style="clear: both;"></div>

        <hr>

        <div id="comments" class="comments-area">
            <h2 class="comments-title">{{ post.approved_comments.count }} thoughts on “<span>{{ post.title }}</span>”</h2>
            <ol class="comment-list">
                {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                <li id="comment-{{comment.id}}" class="comment even thread-even depth-1">
                    <article id="div-comment-1" class="comment-body">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <img alt="" src="https://secure.gravatar.com/avatar/?s=32&amp;d=identicon&amp;r=pg" srcset="https://secure.gravatar.com/avatar/?s=64&amp;d=identicon&amp;r=pg 2x" class="avatar avatar-32 photo avatar-default" height="32" width="32">
                                <cite class="fn"><a href="#" rel="external nofollow" class="url">{{ comment.author }}</a></cite> <span class="says">says:</span>
                            </div>
                            <!-- .comment-author -->
                            <div class="comment-metadata">
                                <a href="#comment-{{comment.id}}">
                                    <time datetime="{{ comment.created_date }}">
                                        {{ comment.created_date }}
                                    </time>
                                </a>
                            </div>
                            <!-- .comment-metadata -->
                            {%if user.is_authenticated %}
                            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if not comment.approved_comment %}
                                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><i class="fa fa-check" aria-hidden="true"></i></a>
                            {% endif %}
                        </footer>
                        <!-- .comment-meta -->
                        <div class="comment-content" style="position: relative;">
                            <p>{{ comment.text|safe }}</p>
                            <p class="fa fa-thumbs-o-up action1 ng-binding">
                                <a href="{% url 'comment_like' pk=comment.pk %}">{{ comment.like }} <span style="color: red;">Like</span></a>
                            </p>
                                    <!-- Test LIKE FB -->
                            <div class="_1oxj uiLayer" style="top: -30px;display: none;">
                                <div class="_49v- _1oxh _22uo">
                                    <div class="_1oxk" data-interaction-root-id="_2xzf" height="52" role="presentation">
                                        <div aria-label="Reactions" class="_iu-" data-interaction-root-id="_26m2" role="toolbar">
                                            <span aria-label="Like" aria-pressed="false" class="_iuw" data-interaction-root-id="_26m1" href="#" role="button" tabindex="-1">
                                                <div class="_39m" data-reaction="1">
                                                    <div class="_39n">
                                                        <span class="_9zc _2p7b _2jry">
                                                            <i class="_3j7l _2p78 _9-_">
                                                            </i>
                                                        </span>
                                                        <div class="_d6l">
                                                            <div class="_4sm1">
                                                                Like
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <span aria-label="Love" aria-pressed="false" class="_iuw" data-interaction-root-id="_26m1" href="#" role="button" tabindex="-1">
                                                <div class="_39m" data-reaction="2">
                                                    <div class="_39n">
                                                        <span class="_9zc _2p7b _2jry">
                                                            <i class="_3j7m _2p78 _9-_">
                                                            </i>
                                                        </span>
                                                        <div class="_d6l">
                                                            <div class="_4sm1">
                                                                Love
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <span aria-label="Haha" aria-pressed="false" class="_iuw" data-interaction-root-id="_26m1" href="#" role="button" tabindex="-1">
                                                <div class="_39m" data-reaction="4">
                                                    <div class="_39n">
                                                        <span class="_9zc _2p7b _2jry">
                                                            <i class="_3j7o _2p78 _9-_">
                                                            </i>
                                                        </span>
                                                        <div class="_d6l">
                                                            <div class="_4sm1">
                                                                Haha
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <span aria-label="Wow" aria-pressed="false" class="_iuw" data-interaction-root-id="_26m1" href="#" role="button" tabindex="-1">
                                                <div class="_39m" data-reaction="3">
                                                    <div class="_39n">
                                                        <span class="_9zc _2p7b _2jry">
                                                            <i class="_3j7n _2p78 _9-_">
                                                            </i>
                                                        </span>
                                                        <div class="_d6l">
                                                            <div class="_4sm1">
                                                                Wow
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <span aria-label="Sad" aria-pressed="false" class="_iuw" data-interaction-root-id="_26m1" href="#" role="button" tabindex="-1">
                                                <div class="_39m" data-reaction="7">
                                                    <div class="_39n">
                                                        <span class="_9zc _2p7b _2jry">
                                                            <i class="_3j7r _2p78 _9-_">
                                                            </i>
                                                        </span>
                                                        <div class="_d6l">
                                                            <div class="_4sm1">
                                                                Sad
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <span aria-label="Angry" aria-pressed="false" class="_iuw" data-interaction-root-id="_26m1" href="#" role="button" tabindex="-1">
                                                <div class="_39m" data-reaction="8">
                                                    <div class="_39n">
                                                        <span class="_9zc _2p7b _2jry">
                                                            <i class="_3j7q _2p78 _9-_">
                                                            </i>
                                                        </span>
                                                        <div class="_d6l">
                                                            <div class="_4sm1">
                                                                Angry
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="_41nt" style="height: 52px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- .comment-content -->
                    </article>
                    <!-- .comment-body -->
                </li>
                {% endif %}
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}
            <!-- #comment-## -->
            </ol>
            <!-- .comment-list -->
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/?p=1#respond" style="display:none;">Cancel reply</a></small></h3>
                <form method="POST" class="post-form" id="commentform" class="comment-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                        <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                    </p>
                </form>
            </div>
            <!-- #respond -->
        </div>
   
    </div>

<script type="text/javascript">
    // LIKE
    $( ".comment-list" ).on( "click", '.fa-thumbs-o-up a' , function(e) {
        e.preventDefault();
        var addressValue = $(this).attr("href");
        var numLike = $(this).text().split(" ")[0];
        numLike++;
        $(this).text(numLike+ " Like");
        // console.log(like);
        $.ajax({
            url: addressValue,
            dataType: 'json',
        }).done(function(data) {

        });
    });

    // COMMENT
    $('.form-submit input:first').click(function(e){
        e.preventDefault();
        var textFromCKeditor = CKEDITOR.instances['id_text'].getData();
        var author = $('#id_author').val();
        $.ajax({
            type: "POST",
            url: "",
            data: { author: author, text: textFromCKeditor },
            beforeSend : function(xhr, settings){
              //call global beforeSend func
              $.ajaxSettings.beforeSend(xhr, settings);
            },
        }).done(function(data) {
            if(data.result == 1){
                var result = '';
                var comment = data.data;
                var idComment = comment.id;
                var datetimeComment = comment.datetime;
                result += '<li class="comment even thread-even depth-1" id="comment-'+idComment+'">';
                result += '<article class="comment-body" id="div-comment-'+idComment+'">';
                result += '<footer class="comment-meta"><div class="comment-author vcard"><img alt="" class="avatar avatar-32 photo avatar-default" height="32" src="https://secure.gravatar.com/avatar/?s=32&d=identicon&r=pg" srcset="https://secure.gravatar.com/avatar/?s=64&d=identicon&r=pg 2x" width="32"><cite class="fn"><a class="url" href="#" rel="external nofollow">';
                result += author + '</a></cite><span class="says"> says:</span></img></div><div class="comment-metadata"><a href="#comment-'+idComment+'">';
                result += '<time datetime="'+datetimeComment+'.">'+datetimeComment+'.</time>';
                result += '</a></div><a class="btn btn-default" href="/comment/'+idComment+'/remove/"><i aria-hidden="true" class="fa fa-trash-o"></i></a><a class="btn btn-default" href="/comment/'+idComment+'/approve/"><i aria-hidden="true" class="fa fa-check"></i></a></footer><div class="comment-content"><p></p><p>';
                result += textFromCKeditor + '</p><p></p><p class="fa fa-thumbs-o-up action1 ng-binding"><a href="/comment/'+idComment+'/like/">0 <span style="color: red;">Like</span></a></p></div></article></li>';
                $('.comment-list').append(result); 
                $('#id_author').val('');
                CKEDITOR.instances['id_text'].setData('');
            }
        });
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // DEL & APPROVE COMMENT
    $( ".comment-list" ).on( "click", '.comment-meta a.btn' , function(e) {
        e.preventDefault();
        var addressValue = $(this).attr("href");
        var tagA = $(this);
        $.ajax({
            url: addressValue,
            dataType: 'json',
        }).done(function(data) {
            if (data.type == 'remove'){
                tagA.parents("li").remove();
            } else {
                tagA.remove();
            }
        });
    });

    // SHOW & HIDE REACT
    $( ".comment-list" ).on( "mouseenter", '.comment-content a' , function(e) {
        $(this).parents("p").siblings("div").css("display", "block");
    });

    $( ".comment-list" ).on( "mouseleave", '.comment-content' , function(e) {
        $('._1oxj').css("display", "none");
    });

    // LIKE FACEBOOK
    $('._iuw').on( "mouseenter", function(e) {
        $(this).addClass('_iuy');
        var idReact = $(this).index();
        var idComment = $(this).parents("li").attr("id").split("-")[1];
        console.log(idReact + '--' + idComment);
    });

    $('._iuw').on( "mouseleave", function(e) {
        $(this).removeClass('_iuy');
    });

</script>

{% endblock %}