<div class="market page">
    <div class="market__header page__header">
        <div class="market__section row expanded">
            <div class="market__heading small-12 large-6 columns">
                <h5 class="market__heading ">Featured currencies</h5> </div>
            <div class="market__description small-12 large-6 columns text-right"> Feel free to change currencies to your likings, they’ll be saved </div>
        </div>
        <div class="market__currencies market__section row expanded">
            <div class="small-12 large-6 xlarge-expand columns">
                <div class="panel callout">
                    <div class="panel__header row expanded">
                        <div class="small-12 column">
                                <button class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyNameDropdown" aria-controls="CurrencyNameDropdown" data-is-focus="false" data-yeti-box="CurrencyNameDropdown" aria-haspopup="true" aria-expanded="false" (click)="toogle=='toogle1' ? toogle='' : toogle='toogle1'" [ngClass]="toogle=='toogle1'?'hover':''" >BTC
                                    <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                                <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                    <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </button> <span>—</span>
                                <div [ngClass]="toogle=='toogle1'?'is-open':''" (mouseleave)="toogle=''" class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyNameDropdown" data-dropdown="4wtl7j-dropdown" aria-hidden="true" data-yeti-box="CurrencyNameDropdown" data-resize="CurrencyNameDropdown" aria-labelledby="3a8ugc-dd-anchor" data-events="resize">
                                <ul class="vertical menu">
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                </ul>
                            </div>
                            <div class="dropdown inline" >
                            <button (click)="toogle=='toogle2' ? toogle='' : toogle='toogle2'" [ngClass]="toogle=='toogle2'?'hover':''" class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyTypeDropdown" aria-controls="CurrencyTypeDropdown" data-is-focus="false" data-yeti-box="CurrencyTypeDropdown" aria-haspopup="true" aria-expanded="false">USD
                                <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                            <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            
                            <div [ngClass]="toogle=='toogle2'?'is-open':''" (mouseleave)="toogle=''" class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyTypeDropdown" data-dropdown="q76jau-dropdown" aria-hidden="true" data-yeti-box="CurrencyTypeDropdown" data-resize="CurrencyTypeDropdown" aria-labelledby="rgsuwi-dd-anchor" data-events="resize" style="margin-left: 103px;">
                                <ul class="vertical menu">
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="record small-12 column">
                            <div class="rate"> <span class="rate__number stat">
                                        <h6 class="record__header"><span class="rate__currency">$</span> 0.13512</h6> <span class="color-falling">-0.32</span> </span>
                            </div> <span class="record__description">9901.304 @ $ 0.1273</span> </div>
                    </div>
                    <div class="panel__body"> <img src="assets/img/chart-small-placeholder.png" alt="" width="100%"> </div>
                </div>
            </div>
            <div class="small-12 large-6 xlarge-expand columns">
                <div class="panel callout">
                    <div class="panel__header row expanded">
                        <div class="small-12 column">
                            <button class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyNameDropdown" aria-controls="CurrencyNameDropdown" data-is-focus="false" data-yeti-box="CurrencyNameDropdown" aria-haspopup="true" aria-expanded="false">BTC
                                <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                            <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button> <span>—</span>
                            <button class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyTypeDropdown" aria-controls="CurrencyTypeDropdown" data-is-focus="false" data-yeti-box="CurrencyTypeDropdown" aria-haspopup="true" aria-expanded="false">USD
                                <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                            <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <div class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyNameDropdown" data-dropdown="3ifn2b-dropdown" aria-hidden="true" data-yeti-box="CurrencyNameDropdown" data-resize="CurrencyNameDropdown" aria-labelledby="lg6fa8-dd-anchor" data-events="resize">
                                <ul class="vertical menu">
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                </ul>
                            </div>
                            <div class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyTypeDropdown" data-dropdown="l8ji20-dropdown" aria-hidden="true" data-yeti-box="CurrencyTypeDropdown" data-resize="CurrencyTypeDropdown" aria-labelledby="7exvpd-dd-anchor" data-events="resize">
                                <ul class="vertical menu">
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="record small-12 column">
                            <div class="rate"> <span class="rate__number stat">
                                        <h6 class="record__header"><span class="rate__currency">$</span> 0.13512</h6> <span class="color-falling">-0.32</span> </span>
                            </div> <span class="record__description">9901.304 @ $ 0.1273</span> </div>
                    </div>
                    <div class="panel__body"> <img src="assets/img/chart-small-placeholder.png" alt="" width="100%"> </div>
                </div>
            </div>
            <div class="small-12 large-6 xlarge-expand columns">
                <div class="panel callout">
                    <div class="panel__header row expanded">
                        <div class="small-12 column">
                            <button class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyNameDropdown" aria-controls="CurrencyNameDropdown" data-is-focus="false" data-yeti-box="CurrencyNameDropdown" aria-haspopup="true" aria-expanded="false">USD
                                <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                            <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button> <span>—</span>
                            <button class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyTypeDropdown" aria-controls="CurrencyTypeDropdown" data-is-focus="false" data-yeti-box="CurrencyTypeDropdown" aria-haspopup="true" aria-expanded="false">USD
                                <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                            <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <div class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyNameDropdown" data-dropdown="cjqk7j-dropdown" aria-hidden="true" data-yeti-box="CurrencyNameDropdown" data-resize="CurrencyNameDropdown" aria-labelledby="dcabnf-dd-anchor" data-events="resize">
                                <ul class="vertical menu">
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                </ul>
                            </div>
                            <div class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyTypeDropdown" data-dropdown="xf6yeu-dropdown" aria-hidden="true" data-yeti-box="CurrencyTypeDropdown" data-resize="CurrencyTypeDropdown" aria-labelledby="x3v7jx-dd-anchor" data-events="resize">
                                <ul class="vertical menu">
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="record small-12 column">
                            <div class="rate"> <span class="rate__number stat">
                                        <h6 class="record__header"><span class="rate__currency">$</span> 0.13512</h6> <span class="color-falling">-0.32</span> </span>
                            </div> <span class="record__description">9901.304 @ $ 0.1273</span> </div>
                    </div>
                    <div class="panel__body"> <img src="assets/img/chart-small-placeholder.png" alt="" width="100%"> </div>
                </div>
            </div>
            <div class="small-12 large-6 xlarge-expand columns">
                <div class="panel callout">
                    <div class="panel__header row expanded">
                        <div class="small-12 column">
                            <button class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyNameDropdown" aria-controls="CurrencyNameDropdown" data-is-focus="false" data-yeti-box="CurrencyNameDropdown" aria-haspopup="true" aria-expanded="false">USD
                                <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                            <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button> <span>—</span>
                            <button class="panels__button button hollow secondary margin-clear" type="button" data-toggle="CurrencyTypeDropdown" aria-controls="CurrencyTypeDropdown" data-is-focus="false" data-yeti-box="CurrencyTypeDropdown" aria-haspopup="true" aria-expanded="false">USD
                                <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="statistics" transform="translate(-1305.000000, -194.000000)" fill-rule="nonzero" fill="#000000">
                                            <g id="Group-Copy" transform="translate(1140.000000, 176.000000)">
                                                <path d="M170,22.2928932 L166.353553,18.6464466 C166.158291,18.4511845 165.841709,18.4511845 165.646447,18.6464466 C165.451184,18.8417088 165.451184,19.1582912 165.646447,19.3535534 L169.646447,23.3535534 C169.841709,23.5488155 170.158291,23.5488155 170.353553,23.3535534 L174.353553,19.3535534 C174.548816,19.1582912 174.548816,18.8417088 174.353553,18.6464466 C174.158291,18.4511845 173.841709,18.4511845 173.646447,18.6464466 L170,22.2928932 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <div class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyNameDropdown" data-dropdown="naywf0-dropdown" aria-hidden="true" data-yeti-box="CurrencyNameDropdown" data-resize="CurrencyNameDropdown" aria-labelledby="nf5r74-dd-anchor" data-events="resize">
                                <ul class="vertical menu">
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                    <li><a >BTC</a> </li>
                                </ul>
                            </div>
                            <div class="panels__dropdown dropdown-pane bottom tiny" id="CurrencyTypeDropdown" data-dropdown="f62m2w-dropdown" aria-hidden="true" data-yeti-box="CurrencyTypeDropdown" data-resize="CurrencyTypeDropdown" aria-labelledby="4zb9bz-dd-anchor" data-events="resize">
                                <ul class="vertical menu">
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                    <li><a >USD</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="record small-12 column">
                            <div class="rate"> <span class="rate__number stat">
                                        <h6 class="record__header"><span class="rate__currency">$</span> 0.13512</h6> <span class="color-falling">-0.32</span> </span>
                            </div> <span class="record__description">9901.304 @ $ 0.1273</span> </div>
                    </div>
                    <div class="panel__body"> <img src="assets/img/chart-small-placeholder.png" alt="" width="100%"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="market__body page__body">
        <!-- <app-table-coins></app-table-coins> -->
        
        
    </div>
</div>