<button (click)="printable = !printable">Toggle</button>

<div *ngIf="printable" class="">
  <h2>{{ message }}</h2>
  <div class="">
    <h2>
        FROM PARENT COMPONENT - {{fromParentComponent}}
    </h2>

  </div>
  <button (click)="doClick()">Click me</button>
</div>
<p>printable: {{ printable }}</p>