<h1>
  {{title}}
</h1>

<input type="text" name="message" (keyup)="onChange($event)">
<button (click)="onClick()">Send</button>
<ul>
    <li *ngFor="let item of message">
        {{ item }}
    </li>
</ul>

<div class="" style="background-color: blue;">
    <tp-contact-list [fromParentComponent]="'Hello'"></tp-contact-list>
</div>

<div class="" style="background-color: yellow;">
    <tp-contact-image-detail></tp-contact-image-detail>
</div>